body {
    background-image: url(./image/pexels-bri-schneiter-346529.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 1000px;
    opacity: 60%;
    border-radius: 10px;
    float: center;
    margin-bottom: 10px;
    margin-top: 40px;
    border: 0.5px solid black;
}

.img {
    height: 69px;
    padding-top: 7px;
}
.img:hover{
    height: 69px;
    padding-top: 7px;
    transform: rotate(9deg);
    transition-duration: 0.5s;
}

/*Email label*/
.lbl {
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-bottom: 8px;
    font-weight: lighter;
    font-family: cursive;

}

/*Input Container */
.box {
    height: 49px;
 
    margin-left: 25px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 24px;
    font-family: cursive;
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.box:hover {
    box-shadow: 0px 0px 4.5px 3px #808080;
    text-decoration: none;
    transition: 0.5s;
 
}
.box:focus{
    width: 250px;
    border: none;
}

.lgn {
    font-size: 50px;
    padding-top: 8px;
    margin-bottom: 9px;
    font-weight: bold;
    text-shadow: 6.5px 5.5px #ff0000;
    display: block;
    font-family: Roboto', sans-serif;

}

.lgn:hover {
    color: #ff0000;
    text-shadow: 6.5px 5.5px #808080;
    transition: 0.5s;

}

.box {
    height: 49px;
    width: 80%;
    margin-left: 25px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 24px;
    font-family: cursive;
}

.box:hover {
    box-shadow: 0px 0px 4.5px 3px #808080;
    text-decoration: none;
    transition: 0.5s;

}

.sgn {
    cursor: pointer;
    background-color: #4158D0;
    background-image: linear-gradient(43deg,  #660000 0%, #C850C0 46%, #FFCC70 100%);
  
}

.terms {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;

}

.chk:checked {
    cursor: pointer;
    height: 15px;
    width: 15px;

}

.pos {
    padding-left: 70px;
}

@media screen and (min-width:0px) and (max-width) {
    body {
        background-image: url(./image/background\ \(2\).jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
    }

    .container {
        background-color: bisque;
        margin-right: auto;
        margin-left: auto;
        width: 400px;
        height: 1000px;
        opacity: 60%;
        border-radius: 10px;
        float: center;
        margin-bottom: 10px;
        margin-top: 40px;
        border: 0.5px solid black;
    }

    .img {
        height: 69px;
        padding-top: 7px;


    }

    /*Email label*/
    .lbl {
        font-size: 20px;
        padding: 10px;
        display: block;
        margin-bottom: 8px;
        font-weight: lighter;
        font-family: cursive;

    }

    /*Input Container */
    .box {
        height: 49px;
        width: 80%;
        margin-left: 25px;
        font-size: 16px;
        border: solid 1px black;
        opacity: 100%;
        font-weight: bolder;
        border-radius: 10px;
        margin-bottom: 24px;
        font-family: cursive;
    }

    .box:hover {
        box-shadow: 0px 0px 4.5px 3px #808080;
        text-decoration: none;
        transition: 0.5s;
    }

    .lgn {
        font-size: 50px;
        padding-top: 8px;
        margin-bottom: 9px;
        font-weight: bold;
        text-shadow: 6.5px 5.5px #ff0000;
        display: block;
        font-family: Roboto', sans-serif;

    }

    .lgn:hover {
        color: #ff0000;
        text-shadow: 6.5px 5.5px #808080;
        transition: 0.5s;

    }

    .box {
        height: 49px;
        width: 80%;
        margin-left: 25px;
        font-size: 16px;
        border: solid 1px black;
        opacity: 100%;
        font-weight: bolder;
        border-radius: 10px;
        margin-bottom: 24px;
        font-family: cursive;
    }

    .box:hover {
        box-shadow: 0px 0px 4.5px 3px #808080;
        text-decoration: none;
        transition: 0.5s;

    }

    .sgn {
        cursor: pointer;
    }

    .terms {
        display: block;
        font-weight: bold;
        font-size: 14px;
        padding-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 24px;

    }

    .chk {
        cursor: pointer;

    }

    .pos {
        padding-left: 70px;
    }
}



